PORT=5000
MONGODB_URI=mongodb+srv://urlshorter:urlshort1234@short-url-cluster.fwsrbwn.mongodb.net/?appName=short-url-cluster
JWT_SECRET=9f7c3e1a5b8d4e6f0a2c7d9e1b3f5a7c8e0d2f4bijyt6a9c1e3f5b7d9a1c2e4f6b8greu65basdf
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:5000
NODE_ENV=development
